.basic{
  align-items: center;
  box-shadow: 0px 10px 14px -7px #276873;
  border-radius: 20px;
}
.basic2{
  background-color: whitesmoke;
  align-items: center;
  box-shadow: 0px 10px 14px -7px #276873;
  border-radius: 20px;
  opacity: 0.7;

}
.ba{
  opacity: 1;
}

